@model HardwareSupportDocuments.Models.ErrorCodes

@{
    ViewBag.Title = "Delete";
}

<h2>Error Code - Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorCodeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCodeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subsystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Component)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Component)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailureMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailureMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultLogID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultLogID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Error Code" class="btn btn-default" /> |
            @Html.ActionLink("Back to Error Code List", "Index")
        </div>
    }
</div>
