@model HardwareSupportDocuments.Models.ErrorCodes

@{
    ViewBag.Title = "Details";
}

<h2>Error Code - Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorCodeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCodeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subsystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Component)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Component)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailureMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailureMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultLogID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultLogID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ErrorID }) |
    @Html.ActionLink("Back to Error Code List", "Index")
</p>
