@model IEnumerable<HardwareSupportDocuments.Models.ErrorCodes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorCodeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subsystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Component)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailureMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultLogID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ErrorCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ErrorCodeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subsystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Component)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailureMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultLogID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ErrorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ErrorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ErrorID })
        </td>
    </tr>
}

</table>
