@model HardwareSupportDocuments.Models.FunctionalTestingLog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Functional Testing Log Entry?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStateProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStateProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangesMadeDuringTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangesMadeDuringTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecommendedChanges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecommendedChanges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hyperlinks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hyperlinks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Funtional Testing Logs", "Index")
        </div>
    }
</div>
