@model HardwareSupportDocuments.Models.FaultRecoveryLog

@{
    ViewBag.Title = "Details";
}

<h2>Fault Recovery Log - Entry Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsReplaced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsReplaced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecoverySteps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecoverySteps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hyperlinks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hyperlinks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FaultLogID }) |
    @Html.ActionLink("Back to Fault Recovery Log List", "Index")
</p>
