@model HardwareSupportDocuments.Models.DeficiencyReport

@{
    ViewBag.Title = "Details";
}

<h2>Deficiency Report - Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionImpact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionImpact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestConditionsAndResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestConditionsAndResults)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CauseAnalysis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauseAnalysis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemedialAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemedialAction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeficiencyID }) |
    @Html.ActionLink("Back to Deficiency Reports", "Index")
</p>
