@model IEnumerable<HardwareSupportDocuments.Models.DeficiencyReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestConditionsAndResults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionImpact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseAnalysis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemedialAction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestConditionsAndResults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionImpact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseAnalysis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemedialAction)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeficiencyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeficiencyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeficiencyID })
        </td>
    </tr>
}

</table>
