@model IEnumerable<HardwareSupportDocuments.Models.DeficiencyReport>

@{
    ViewBag.Title = "Index";
}

<h2>Deficiency Reports</h2>

<p>
    @Html.ActionLink("Add Deficiency Report", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deficiency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deficiency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeficiencyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeficiencyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeficiencyID })
        </td>
    </tr>
}

</table>
